#header {
  position: fixed;
  width: 100%;
  top: 0;
  height: clamp(30px, 50px, 50px);
  padding: 5px 5%;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999999;
  @include tablet {
    padding: 5px 2%;
    height: clamp(35px, 60px, 70px);
  }
  @include desktop {
    height: clamp(50px, 70px, 85px);
    padding: 15px 5%;
  }
  .line {
    height: 2px;
    background: $color-radial-2;
    @include tablet {
      height: 3px;
    }
    @include desktop {
      height: 4px;
    }
  }

  // hamburger
  .nav {
    .hamburger-menu {
      // position: fixed;
      top: 0;
      right: 0;
      z-index: 10;
      cursor: pointer;
    }

    .menu-bar1,
    .menu-bar2,
    .menu-bar3 {
      width: 100%;
      height: 1px;
      background-color: #fff;
      margin: 5px 0;
      transition: 0.4s;
    }
  }
}

#sidebar {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  overflow: hidden;
  // background: transparent;
  z-index: 9999;
  pointer-events: none;

  .sidebar-main {
    opacity: 0;
    pointer-events: none;
    transform: translate(0, calc(100% + 6vw)) rotate(0.001deg);
    visibility: hidden;
    @include transition;
  }
  .bg-blur-1,
  .bg-blur-2,
  .bg-blur-3 {
    transform: translate(calc(100% + 6vw), 0) rotate(0.001deg);
    @include transition_cubic;
    will-change: transform;
    background-color: #0f0623;
  }
  .bg-blur-1 {
    transition-delay: 0.5s;
  }
  .bg-blur-2 {
    transition-delay: 0.7s;
  }
  .bg-blur-3 {
    transition-delay: 0.9s;
  }

  @include tablet {
    width: 80%;
  }
  @include desktop {
    width: 50%;
  }
  .menu-items {
    li {
      .nuxt-link-exact-active.nuxt-link-active {
        color: $color-white;
        padding-left: 35px;
        .icon-menu {
          left: 0px;
        }
      }
    }
    li {
      .icon-menu {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -100%;
      }
      &:hover {
        .icon-menu {
          left: 0px;
        }
      }
    }
  }

  //sub menu
  .sub-menu-wrapper.open-sub {
    transform: translateY(0);
    pointer-events: all;
    opacity: 1;
  }
  .sub-menu-wrapper {
    position: absolute;
    bottom: 15%;
    width: 100%;
    transform: translateY(100%);
    pointer-events: none;
    opacity: 0;

    @include transition;
  }
  .sub-menu {
    li {
      .nuxt-link-exact-active.nuxt-link-active {
        padding-right: 35px;
        color: $color-white;
        .icon-menu {
          right: 0px;
        }
      }
    }
    li {
      .icon-menu {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: -100%;
      }
      &:hover {
        .icon-menu {
          right: 0px;
        }
      }
    }
  }
}

// open menu
.open-menu {
  #sidebar {
    .sidebar-main {
      opacity: 1;
      pointer-events: all;
      transform: translate(0, 0) rotate(0.001deg);
      transition-delay: 1.5s;
      visibility: visible;
    }

    .bg-blur-1,
    .bg-blur-2,
    .bg-blur-3 {
      transform: translate(0, 0) rotate(0.001deg);
    }
  }
  /* ROTATE FIRST BAR */
  .menu-bar1 {
    /* transform: rotate(-45deg) translate(-7px, 8px); */
    transform: rotate(-45deg) translate(-5px, 5px);
  }

  /* FADE OUT SECOND BAR */
  .menu-bar2 {
    transform: scaleX(0%);
  }

  /* ROTATE LAST BAR */
  .menu-bar3 {
    /* transform: rotate(45deg) translate(-6px, -8px); */
    transform: rotate(45deg) translate(-4px, -4px);
  }
}
#overlay {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgb(68, 63, 63, 0.8);
  opacity: 0;
  z-index: 99;
  pointer-events: none;
  @include transition_cubic(1s);
  transform: translate(calc(100% + 6vw), 0) rotate(0.001deg);
}
.open-menu {
  #overlay {
    transition-delay: 0.5s;
    opacity: 1;
    pointer-events: all;
    transform: translate(0, 0) rotate(0.001deg);
  }
}
