//fonts
$font-primary: "Roboto";
$font-secondary: "RobotoCondensed";

$box-shadow: #383031 6px 5px 10px 0px;

// all number color begin 200
$color-white: rgb(255, 255, 255);

$color-pink: #e65ced;

$color-violet: #9d46ff;
$base-text: #8275a1;
$text-shadow: 1px 1px 5px $color-white;
$color-black: #383031;

$color-gradient-1: linear-gradient(36deg, rgb(230, 92, 237), rgb(157, 70, 255));
$color-gradient-2: linear-gradient(36deg, rgb(157, 70, 255), rgb(230, 92, 237));
$color-radial-1: radial-gradient(circle, rgb(230, 92, 237), rgb(157, 70, 255));

$color-radial-2: radial-gradient(circle, #2a1266 -10%, #896ba9 120%);
$color-radial-3: radial-gradient(circle, #896ba9 50%, rgb(230, 92, 237) 100%);
